<h2>Welcome!</h2>
<h3>Mario's Super Store is a one stop shop til you drop. You can find all your needs here! From Organic Candles to Jazz posters. Never shop anywhere else again!</h3>

  <p><%= link_to "Products", products_path %></p>
